
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.bannerImg{
    max-height: 200px;
    object-fit: cover;
}

@media (min-width: 768px) { 

  .bannerImg{
    max-height: 450px;
  }
}
@media (min-width: 992px) { 

  .bannerImg{
    max-height: 550px;
  }
}
@media (min-width: 1400px) {

  .bannerImg{
    max-height: 650px;
  }
 }